* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.overall-content {
    background-image: url("../../assets/images/dark-denim-blue-plain-color-v56r6evrqr0q7fse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

}
.iconscolor1{
    color: white;
}

.continercontact h1 {

    padding-top: 20%;
    padding-left: 10%;

    color: orangered;
}

.contacts-icons {
    display: flex;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    padding: 30px;

    flex-direction: row;
    justify-content: space-between;

}


.experience {
    color: white;
    font-size: 100px;
}



.contact {

    height: 400px;
    width: 500px;
    border: 2px solid white;
    margin-top: 10%;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(173, 38, 38);
    font-size: 20px;
}

label {
    background-color: lightsalmon;
    width: 480px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}



.continercontact {
    display: flex;
    flex-direction: row;
}

.heading {
    color: orangered;
}


label {
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 300px) and (max-width:500px) {
    .overall-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-icons {

        gap: 20px;

        display: flex;
        margin-top: 20px;
        color: white;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

    }

    .continercontact {
        display: flex;
        flex-direction: column;

    }

    .overall-content {
        background-image: url("../../assets/images/dark-denim-blue-plain-color-v56r6evrqr0q7fse.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        width: 100%;
    }

    .experience {
        color: white;
        font-size: 30px;
        margin-left: 100px;
    }

    .contact {

        height: 400px;
        width: 250px;
        margin-left: 15%;
        border: 2px solid white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }

    label {
        background-color: lightsalmon;
        width: 200px;
        height: 60px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }


}



@media screen and (min-width: 500px) and (max-width:800px) {

    .continercontact {
        display: flex;
        flex-direction: column;

    }

    .contacts-icons {

        gap: 100px;



    }

    .overall-content {
        background-image: url("../../assets/images/dark-denim-blue-plain-color-v56r6evrqr0q7fse.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 827px;
        width: 100%;
    }

    .experience {
        color: white;
        font-size: 80px;
    }

    .contact {

        height: 300px;
        width: 80%;
        border: 2px solid white;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
    }

    label {
        background-color: lightsalmon;
        width: 80%;
        height: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .overall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 800px) and (max-width:1200px) {

    .continercontact {
        display: flex;
        flex-direction: row;

    }

    .overall {
        background-image: url("../../assets/images/dark-denim-blue-plain-color-v56r6evrqr0q7fse.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        width: 100%;
    }

    .experience {
        color: white;
        font-size: 60px;
    }

    .contact {

        height: 300px;
        width: 30%;
        border: 2px solid white;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
        margin-top: 10%;
    }

    label {
        background-color: lightsalmon;
        width: 75%;
        height: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

}