* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.newhome-overall {

    /* background-image: url("../assets/images/toilet-paper-4974461_1280.jpg"); */
    background-color: rgb(20, 17, 58);
    height: 650px;
    width: 100%;
    background-image: url("../assets/images/bilson_new-removebg-preview.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

}

.animationimg {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.newpics1,
.newpics2,
.newpics3,
.newpics4 {
    height: 60px;
    width: 60px;
    animation: pics 1.5s linear infinite;
}

@keyframes pics {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(20%);
    }
}

.newpics2 {
    margin-left: 140px;
}

.newpics3 {
    margin-top: 90px;
}

.newpics4 {
    margin-left: 190px;
}

.heading {
    color: orangered;
    padding: 30px;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    padding: 50px;
    width: 200px;
    border-right: 2px solid orangered;
}

li {
    list-style: none;
    font-size: large;
    font-weight: bolder;
    color: orangered;
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width:500px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 500px;
        width: 100%;
        padding: 50px;
        width: 200px;
        gap: 10px;
        border-right: none;
    }

    .newname {
        font-size: 30px;
        color: orangered;
    }

    .newhome-overall {
        width: 100%;
        background-image: none;
        background-size: contain;
        background-position: unset;
        background-repeat: no-repeat;


    }

    .animationimg {
        display: none;
    }

    .new-content {
        padding: 40px;
        color: white;
        margin-top: 40px;
        margin-left: -160px;

    }

    .newbilsonpic {
        visibility: none;
    }

}

@media screen and (min-width: 500px) and (max-width:800px) {
    .newhome-overall {
        width: 100%;
        background-image: none;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;


    }
   
   

    .newpics2 {
        /* margin-left: 40px; */
        position: absolute;
        left: 50%;
        top: 10%;
    }
    
    .newpics3 {
        position: absolute;
        left: 60%;
        top: 60%;
    
    }
    .newpics1 {
        position: absolute;
        left: 80%;
        top: 40%;
    
    }
    .newpics4 {
        /* margin-left: 10px; */
        position: absolute;
        left: 10%;
        top: 10%;
        /* margin-right: -90px; */
    }
}

@media screen and (min-width: 800px) and (max-width:1200px) {
    .newhome-overall {
        width: 100%;
        background-image: url("../assets/images/bilson_new-removebg-preview.png");
        height: 100%;
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;


    }
}

.seperate {
    display: flex;


}

.new-content {
    padding: 40px;
    color: white;
    margin-top: 40px;

}

.newname {
    font-size: 50px;
    color: orangered;
}

.new-content p {
    padding: 10px;
}

.newicons {
    font-size: 30px;
    margin: 10px;
    display: flex;
    gap: 20px;
}

.newicons1 {
    color: blue;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;

}

.newicons2 {
    color: purple;
    background-color: white;
    border-radius: 50px;
    padding-left: 10px;


}

.newicons3 {
    color: blue;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;

}

.newicons4 {
    color: red;
    background-color: white;
    border-radius: 30px;
    padding-left: 10px;

}

.newjoin {
    height: 60px;
    width: 200px;
    background-color: orangered;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    color: white;
}