*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.skills-overall{
    background-image: url("../../assets/images/dark-denim-blue-plain-color-v56r6evrqr0q7fse.jpg");
    height: 1108px auto;
    width: 100% ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
  




}
.iconscolor{
    color: white;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    background-color: white;
    height: 400px ;
    width: 250px ;
    padding: 30px;
    border-radius: 20px;
    animation: ani 2s linear infinite ;
    margin: 20px !important;

}
.skills-icon{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px;
    font-size: 30px;
}
@keyframes ani {
    from{
        transform: translateY(20%);
    }
    to{
        transform: translateY(10%);
    }
}
.tasks{
    margin-top: 80px;
}
.samble{
    color: orange;
    text-align: center;
}
.mobile{
    height: 200px;
    width: 500px;

    /* object-fit: contain; */
}
.dhoni{
   height: 200px;
   width: 200px;

}
.continer-task{
margin-top: 10px;
    display: flex;
    justify-content: center;
    animation: cards 14s linear infinite;
    background-size: cover;
    flex-wrap: wrap;
    gap: 10px;
    
}
/* @keyframes cards {
    from{
        transform: translatex(100%);
    }
    to{
        transform: translateX(-100%);
    }
    
} */
.continer-task img{
    height: 200px;
    width: 200px;
}
.register{
    height: 200px;
    width: 200px;
    /* object-fit:cover; */

    /* object-fit: contain; */
}
.htmlimg{
    height: 50px;
    width: 50px;
    margin-top: 30px;
    
}

/* @media  screen and (min-width: 300px) and (max-width:500px) {
   .card{
    background-color: white;
    height: 400px ;
    width: 250px ;
    padding: 30px;
    border-radius: 20px;
    animation: ani 2s linear infinite ;
    margin: 20px !important;
    flex-wrap: wrap;

} */
    
/* } */
/* @media  (max-width:768px) {
    .overall{
        
   padding: 20px;
    } */
   
    
/* } */
/* @media  screen and (min-width: 800px) and (max-width:1200px) {
    .overall{
        
   
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    
} */